# Cluster configuration
cluster_prefix = "kubenow_{{timestamp}}"
KuberNow_image = "KubeNow"
ssh_key = "~/.ssh/id_rsa.pub"
kubeadm_token = "{{kubeadm_token}}"

# CityCloud
floating_ip_pool = "ext-net"
external_network_uuid = "9e031103-e161-4e71-8740-24cd16beb239"
master_flavor = "1C-2GB"
node_count = "3"
node_flavor = "1C-2GB"
edge_count = "2"
edge_flavor = "1C-2GB"
