kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: luigi
  labels:
    app: phenomenal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phenomenal
      task: luigi
  template:
    metadata:
      labels:
        app: phenomenal
        task: luigi
    spec:
      containers:
      - name: luigi
        image: container-registry.phenomenal-h2020.eu/phnmnl/luigi:v2.6.0_cv0.1.5
        ports:
          - containerPort: 8082
        resources:
          requests:
            memory: "{{ luigi_resource_req_memory }}"
            cpu: "{{ luigi_resource_req_cpu }}"
---
apiVersion: v1
kind: Service
metadata:
  name: luigi
spec:
  ports:
  - name: http
    targetPort: 8082
    port: 8082
  selector:
    app: phenomenal
    task: luigi
    
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: luigi-ingress
spec:
  rules:
  - host: {{hostname}}.{{domain}}
    http:
      paths:
      - path: /
        backend:
          serviceName: luigi
          servicePort: http

